---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const tech = [".NET/C#", "JavaScript", "SQL Server", "PowerShell"]
const projects = [
  {
    title: "DBA Management Portal",
    problem: "DBAs couldn't reliably monitor or control 140+ servers and 800+ TB of data.",
    solution: "A centralized, web-based, internal management portal providing insights and control to every aspect of the SQL Server ecosystem.",
    keyDifference: {
       header: "Scale, Automation, Infrastructure.", 
       desc: [
        "Developed an automation engine that leverages PowerShell for reliable, cross-server communication and job execution.",
        "Delivered a centralized platform that provided the team with more granular control and better visibility than third-party tooling.",
        "Gained an understanding of the SQL Server architecture and the relationship between Servers, Instances, Databases and Availability Groups."
      ]
    },
  },
  {
    title: "Ministry Investment App",
    problem: "The executive team had no efficient way to track donations, partnerships, requests, and contributions, leading to manual errors, lack of visibility and slow processing.",
    solution: "A secure, reliable, internal application which centralized all financial data.",
    keyDifference: {
       header: "Data Sensitivity, Security, Executive Facing.", 
       desc: [
        "A full-stack application to replace a legacy process of manual spreadsheets and documents for tracking sensitive financial partnerships and contributions.",
        "The application provided the executive office with a single source of truth, automating reporting and ensuring data accuracy for critical decision making.",
        "Key responsibilities included end-to-end development with a focus on implementing robust user authentication using internal tooling, data validation and secure access controls to protect confidential information.",
      ]
    },
  },
  {
    title: "International Import Price Index (IPI) Processing",
    problem: "The aging legacy system used by the International group no longer fit the needs and the highly dynamic nature of processing imports, resulting in larger adjustments and corrections than necessary.",
    solution: "Building out a new all-in-one platform for the entire purchasing, verification and classification processes for increased usability, accuracy and control.",
    keyDifference: {
       header: "Modernize, Collaborate, Accuracy", 
       desc: [
        "Participated in development of the console, web, and API based applications associated with this process to run jobs against and communicate with other systems to remain in compliance with business objectives.",
        "Gained a high-level understanding of the entire PO process including correspondence with vendors and as well as the research to be done for tariff classification.",
      ]
    },
  },
];
//const projects = [
//  {
//    title: "CodeCraft",
//    desc: [
//      "Developed a large-scale e-commerce platform for indie game developers",
//      "Designed and implemented UI, backend, and database architecture",
//      "Contributed to RESTful API and GraphQL design",
//      "Led a team of three engineers for several months"
//    ],
//    tech: ["React", "Next.js", "Node.js", "MongoDB", "Heroku"]
//  },
//  {
//    title: "CloudMason",
//    desc: [
//      "Contributed to microservices architecture design for email distribution system",
//      "Created a backend infrastructure with queues and an event bus",
//      "Designed to handle a high volume ~3 million emails per day"
//    ],
//    tech: ["Node.js", "RabbitMQ", "Docker", "Kubernetes"]
//  },
//  {
//    title: "Sarah (HealthEase.io)",
//    desc: [
//      "Contributed to Israel's largest telehealth platform for doctors and patients",
//      "Developed appointment and billing systems",
//      "Resolved live production bugs and server issues"
//    ],
//    tech: ["React", "Node.js", "Express.js", "MySQL", "AWS"]
//  }
//];
---
<!DOCTYPE html>
<html>
  <Header title="Software Development | Kade Williams" />
  <body>
    <div class="content">
        <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block">
              <img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div>
            </a>
          </div>
          <div class="content-container">
            <h1>Software Development</h1>
                <div class="mini-label-white">Technologies &amp; tools</div>
                <div class="chips-container">
                  {tech.map(techItem => <div class="single-chip">{techItem}</div>)}
                </div>
            <section class="items-container">
                <div class="resource-items">
                    <!-- {projects.map(project => (
                      <Project 
                        title={project.title} 
                      />
                    ))} -->
                    {projects.map(project => (
                      <Project 
                        title={project.title}
                        problem={project.problem}
                        solution={project.solution}
                        header={project.keyDifference.header}
                        desc={project.keyDifference.desc}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
